@import '/src/variables';

.blur-section {}

#favorites {


    .header-part {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        justify-content: space-between;

        .controls {
            display: flex;
        }

        h1 {
            padding-right: 40px;
        }

        p {
            justify-self: flex-end;
            align-self: end;
        }
    }

    .radiobutton-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .horizontal-line {
        width: auto;
        height: 1px;
        background-color: $background-color;
        margin-bottom: 70px;
    }

    .cars-container {
        display: flex;
        height: auto;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
    }

    .no-cars-notification {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    #favorites {
        margin: 0 15px;
        gap: 20px;

        .header-part {
            margin-bottom: 0;
        }

        .horizontal-line {
            margin-bottom: 0;
        }

        .cars-container {
            justify-content: center;
            gap: 20px;

            .individual-car-container {
                margin-bottom: 0;
            }
        }
    }
}