@import "../../variables";

.container {
  display: flex;
  gap: 31px;
  justify-items: center;
  padding: 108px 492px;
  flex-direction: column;
  align-items: center;

  .header {
    color: black;
    font-family: $main-font;
    font-size: 40px;
    font-weight: 700;
  }

  span {
    color: grey;
    font-family: $main-font;
    line-height: 160%;
  }

  .video {
    padding: 12px 0;

    iframe {
      border-radius: 25px;
      width: 924px;
      height: 573px;
    }
  }
}

@media (max-width: 851px) {
  .container {
    align-items: flex-start;
    padding: 40px 15px;

    .video {
      padding: 12px 0;

      iframe {
        width: 750px;
      }
    }
  }
}

@media (min-width: 850px) {}