@import "../../variables";

#comparison {

    .controls {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        h1 {
            padding-right: 40px;
        }
    }

    .radiobutton-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;
    }

    .horizontal-line {
        width: auto;
        height: 1px;
        background-color: $background-color;
        margin-bottom: 70px;
    }

    .comparison-table {
        padding-bottom: 110px;
        display: flex;

        .comparison-legend {
            width: 350px;
            display: grid;
            border-right: 1px solid $background-secondary-color;

            .comparison-legend-item {
                border-bottom: 1px solid $background-secondary-color;

                &:first-child {
                    p {
                        padding: 0 0 24px 0;
                    }

                    padding-bottom: 185px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .comparison-items-container {

            .keen-slider:not([data-keen-slider-disabled]) {
                padding-top: 0;

                .keen-slider__slide {
                    width: auto;
                }
            }

            .dots {
                left: 50%;
                right: 50%;
                position: absolute;
            }
        }

        p {
            color: $main-color;
            font-weight: 700;
            line-height: normal;
            padding: 24px 0;
        }
    }
}

@media (max-width: 850px) {
    #comparison {
        margin: 0 15px;
        gap: 20px;

        .controls {
            margin-bottom: 0;
        }

        .horizontal-line {
            margin-bottom: 0;
        }

        .comparison-table {
            padding-bottom: 0;
        }
    }
}