$main-font: "Roboto", sans-serif;
$secondary-font: "Inter", monospace;
$main-color: #262626;
$secondary-color: #737373;
$accent-color: #CA0100;
$background-color: #eff0f0;
$background-secondary-color: #E1E1E1;
