@import '../../../../variables';

.basic-carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    // height: 600px;
    border-radius: 25px;
    margin: 0 25px 38px 25px;
    background: var(--gray-400, #EFF0F0);

    #back {
        display: flex;
        position: absolute;
        right: 0;
        border-radius: 25px;
        opacity: 0.58;
        margin-right: 0;
        background-blend-mode: multiply;
        background: lightgray -76.778px -244.435px / 110.343% 151.497% no-repeat;
    }


    .full-ad {
        position: absolute;
        z-index: 4;
        margin-top: 81px;
        left: 12.57%;
        width: 42%;

        #left-only {
            margin-top: 35px;
            border-radius: 33px;
            background-color: $accent-color;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
        }

        #advertisement {
            color: $main-color;
            font-size: 60px;
            font-family: $main-font;
            font-weight: 700;
            line-height: normal;
        }
    }

    .picture-with-ad {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 600px;
        border-radius: 25px;

        .pic-ad {
            position: absolute;
            z-index: 3;
            right: 4.4%;
            margin-top: 167px;
            width: 55.45%;
        }
    }
}